<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>商家 - 商店資訊</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/echarts/dist/echarts.min.js"></script>

	<style type="text/css">
		body {
			background-color: #ffffff;
		}

		.nav_ {
			background-color: #e8e8e8;
		}

		p {
			color: #6e6e6e;
			size: 20px;
			margin-bottom: 0px;
		}

		.item-info-data {
			width: 100%;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #e8e8e8;
		}

		.item-info-data-last {
			width: 100%;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}

		.item-name {
			width: 20%;
			display: flex;
			align-items: center;
		}

		.item-content {
			width: 80%;
		}

		.storeImg {
			width: 100%;
			height: 350px;
			border-radius: 5px;
			object-fit: cover;
			/* 和background-image設定background-size: cover一樣，圖片剛好填滿 */
			object-position: center;
		}

		#imgInput {
			width: 100%;
			height: 45px;
			margin-top: 10px;
		}

		#storeBtn {
			background-color: #6e6e6e;
			border: 2px solid #6e6e6e;
			color: #e8e8e8;
			height: 40px;
			width: 200px;
			margin-top: 50px;
			font-size: 18px;
		}

		.chart_div {
			margin-top: 50px;
			padding-top: 100px;
			padding-bottom: 50px;
			justify-content: center;
			/*水平置中*/
			/*align-content: center; 垂直置中*/
		}

		.chart_title {
			color: #6e6e6e;
			font-weight: bold;
			font-size: 20px;
			text-align: center;
		}

		.chart_content {
			height: 400px;
			width: 100%;
			justify-content: center;
		}

		#review_status {
			color: #be0202;
		}
	</style>
</head>

<body>
	<!-- 導覽 -->
	<div class="fixed-top container-fluid nav_">
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link" href="/index#home_div">
					<p>關於</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/index#room_div">
					<p>房型介紹</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/index#store_div">
					<p>周邊店家介紹</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/merchant/index">
					<p>個人主頁</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" id="logout">
					<p>登出</p>
				</a>
			</li>
		</ul>
	</div>
	<!-- //導覽 -->

	<!-- 商店訊息 -->
	<div class="container" id="storeInfo" style="margin-top: 100px;">
		<div class="row justify-content-md-center">
			<div class="col-4">
				<img class="storeImg" src="" />
				<input type="file" id="imgInput" class="form-control" accept="image/jpeg, image/png" />
			</div>
			<div class="col-5">
				<div class="row item-info-data-last">
					<div class="item-name">審核狀態</div>
					<div class="item-name" id="review_status"></div>
				</div>
				<div class="row item-info-data">
					<div class="item-name">店家名稱</div>
					<input type="text" class="form-control item-content" id="storeName">
				</div>
				<div class="row item-info-data">
					<div class="item-name">地址</div>
					<input type="text" class="form-control item-content" id="address">
				</div>
				<div class="row item-info-data">
					<div class="item-name">連絡電話</div>
					<input type="text" class="form-control item-content" id="phone">
				</div>
				<div class="row item-info-data">
					<div class="item-name">店家資訊</div>
					<textarea class="form-control item-content" id="info" style="height: 100px;"></textarea>
				</div>
				<div class="row item-info-data">
					<div class="item-name">官方網站</div>
					<input type="text" class="form-control item-content" id="officeURL">
				</div>
				<div class="row item-info-data-last">
					<div class="item-name">GOOGLE MAP</div>
					<input type="text" class="form-control item-content" id="googleMapURL">
				</div>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<button id="storeBtn" class="btn btn-primary">儲存</button>
		</div>
	</div>
	<!-- //商店訊息 -->

	<!-- 收藏數統計圖 -->
	<div class="container chart_div" id="favChart_div">
		<div class="row justify-content-md-center">
			<div class="chart_title" id="favChart_title">收藏數統計</div>
			<div class="chart_content" id="favChart"></div>
		</div>
	</div>
	<!-- //收藏數統計圖 -->

	<!-- 點擊次數統計圖 -->
	<div class="container chart_div" id="clickChart_div">
		<div class="row justify-content-md-center">
			<div class="chart_title" id="clickChart_title">瀏覽次數統計</div>
			<div class="chart_content" id="clickChart"></div>
		</div>
	</div>
	<!-- //點擊次數統計圖 -->

	<script type="module">
		//--------------------------- 初始化 ---------------------------//

		$.ajaxSetup({
			async: false,
			contentType: "application/json; charset=utf-8"
		});

		const urlParams = new URLSearchParams(window.location.search);

		const storeId = urlParams.get('store_id');
		const isApproved = urlParams.get('is_approved');  // 1: 已批准，0: 未批准

		const token = sessionStorage.getItem("token");
		const user_name = sessionStorage.getItem("name");

		const error_message = {
			"101": "token 過期",
			"102": "token 無效",
			"103": "無token",
			"201": "Email不符合格式",
			"202": "密碼不符合規定",
			"203": "密碼錯誤",
			"204": "帳號不存在",
			"301": "該時段已無空房",
			"999": "伺服器錯誤"
		}

		const room_type_map = {
			"single": "單人房",
			"double": "雙人房",
			"quad": "四人房"
		}

		const review_status_map = {
			'PENDING': "審查中",
			'APPROVED': "通過",
			'REJECTED': "被拒"
		}

		let picData;

		get_store_data();

		setFavChart();

		setClickChart();

		//-------------------- 登出 --------------------//

		$(document).on("click", "#logout", function (event) {
			event.preventDefault();

			sessionStorage.clear();

			alert("登出成功，將回到首頁");

			window.location.replace("/index");
		});

		//--------------------------- 功能設置 ---------------------------//

		$("#imgInput").change(function () {
			var reader = new FileReader();
			reader.onload = function (e) {
				console.log(e.target.result);
				picData = e.target.result;
				$("img").attr("src", e.target.result);
			}
			reader.readAsDataURL(this.files[0]);
		});

		$("#storeBtn").click(() => {
			var data = {
				store_id: storeId,
				update_data: {
					store_name: $('#storeName').val(),
					store_address: $('#address').val(),
					store_phone: $('#phone').val(),
					store_intro: $('#info').val(),
					office_url: $('#officeURL').val(), //官方網站
					google_map_url: $('#googleMapURL').val(),
					image: picData
				}
			};

			$.ajax({
				url: "http://127.0.0.1:8000/update_store_merchant",
				type: "POST",
				data: JSON.stringify(data),
				headers: {
					Authorization: `Bearer ${token}` // 帳號識別
				},
				success: function (res) {
					if (res["status"] == "error") {
						if (res["code"] in error_message) alert("儲存資料失敗，" + error_message[res["code"]]);
						else alert("儲存資料失敗，不明錯誤");
						return;
					}

					alert("儲存成功")

					$("#review_status").html(review_status_map["PENDING"])
				},
				error: function (xhr, status, error) {
					alert("儲存資料失敗，" + error);
				}
			});
		});

		//--------------------------- 商店內容相關 ---------------------------//  

		function get_store_data() {
			const requestData = {
				store_id: storeId
			}

			$.post("http://127.0.0.1:8000/get_store_detailed_merchant", JSON.stringify(requestData), (res) => {
				if (res["status"] == "error") {
					if (res["code"] in error_message) alert("取得商店資料失敗，" + error_message[res["code"]]);
					else alert("取得商店資料失敗，不明錯誤");
					return;
				}

				list_data(res["content"]);
			});

			async function list_data(data) {
				$("img").attr("src", data["image"]["store_image"]);
				$("#review_status").html(review_status_map[data["review_status"]]);
				$("#storeName").val(data["store_name"]);
				$("#address").val(data["store_address"]);
				$("#phone").val(data["store_phone"]);
				$("#info").html(data["store_intro"]);
				$("#officeURL").val(data["office_url"]);
				$("#googleMapURL").val(data["google_map_url"]);

				picData = data["image"]["store_image"];
			}
		}

		//--------------------------- 商店收藏次數相關 ---------------------------//

		function setFavChart() {
			const requestData = { store_id: storeId }

			// 取得總收藏數
			$.post("http://127.0.0.1:8000/get_total_favorites", JSON.stringify(requestData), (res) => {
				if (res["status"] == "error") {
					if (res["code"] in error_message) alert("取得總收藏數失敗，" + error_message[res["code"]]);
					else alert("取得總收藏數失敗，不明錯誤");
					return;
				}

				$("#favChart_title").html("收藏數統計，總收藏數: " + res["content"])
			});

			// 取得每月收藏數
			$.post("http://127.0.0.1:8000/get_favorite_statistics", JSON.stringify(requestData), (res) => {
				if (res["status"] == "error") {
					if (res["code"] in error_message) alert("取得每月收藏數失敗，" + error_message[res["code"]]);
					else alert("取得每月收藏數失敗，不明錯誤");
					return;
				}

				var chart = echarts.init(document.getElementById('favChart'));

				chart.setOption({
					xAxis: {
						type: 'category',
						data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
					},
					yAxis: {
						type: 'value'
					},
					series: [{
						data: res["content"],
						type: 'line'
					}]
				});
			});
		}

		//--------------------------- 頁面瀏覽次數相關 ---------------------------//

		function setClickChart() {
			const requestData = { store_id: storeId }

			$.post("http://127.0.0.1:8000/get_store_page_views", JSON.stringify(requestData), (res) => {
				if (res["status"] == "error") {
					if (res["code"] in error_message) alert("取得瀏覽次數失敗，" + error_message[res["code"]]);
					else alert("取得瀏覽次數失敗，不明錯誤");
					return;
				}

				var chart = echarts.init(document.getElementById('clickChart'));

				chart.setOption({
					xAxis: {
						type: 'category',
						data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
					},
					yAxis: {
						type: 'value'
					},
					series: [{
						data: res["content"],
						type: 'line'
					}]
				});
			});
		}
	</script>
</body>

</html>